<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>ようこそツヅケルへ</h1>
  <h2>ツヅケルは皆さんの"毎日続ける"をお手伝いするアプリです。</h2>
  <%= link_to '#', class: "tbutton twitter" do %>
  <span class="fa fa-twitter">twitterでログイン</span>
  <% end %>
</div>