<%= form_with(model: @task, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_area :content, class: "text-field" , placeholder: "追加したいタスクを入力してください" %>
  </div>
  <div class="text-right">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>
