<header class="navbar navbar-fixed-top navbar-default">
   <div class="container">
     <%= link_to "ツヅケル", "/", id: "logo" %>
     <nav>
       <ul class="nav navbar-nav navbar-right">
       <% if logged_in? %>
         <li><%= link_to "ログアウト", '/logout' %></li>
       <% else %>
         <li><%= link_to "ログイン", 'auth/twitter', method: :post %></li>
       <% end %>
     </nav>
   </div>
   </header>