<header class="navbar navbar-fixed-top navbar-default">
   <div class="container">
     <%= link_to "ツヅケル", "/", id: "logo" %>
     <nav>
       <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "ログイン", '#' %></li>
     </nav>
   </div>
   </header>